<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="container">
    <table class="table table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Conatct</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coll of myCollection | paginate : { itemsPerPage: 10, currentPage: p }">
          <td>{{coll.name}}</td>
          <td>{{coll.email}}</td>
          <td>{{coll.contact}}</td>
        </tr>
      </tbody>
      
    </table>
    <pagination-controls class="my-pagination" 
      (pageChange)="p = $event" 
      previousLabel="<" 
      nextLabel=">">
    </pagination-controls>



  </div>
</div>
